<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Logout.aspxは、ログイン済みであること -->
  <location path="Logout.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <!-- ChangePassword.aspxは、ログイン済みであること -->
  <location path="ChangePassword.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    
  </system.web>
</configuration>
