<?xml version="1.0"?>

<!--
  ASP.NET アプリケーションを構成する方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->

<configuration>
  <appSettings>
    <!-- ログの有効期間 -->
    <add key="ExpireLogDays" value="31"/>

    <!-- ログファイルを開いておく時間 -->
    <add key="KeepLogOpenTime" value="00:01:00"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <customErrors mode="Off"/>
    
    <!--
     トレース結果を収集、保存、および表示する方法を制御する
     ASP.NET コード トレース サービスを構成します.
    -->
    <trace enabled="true"
           traceMode="SortByTime"
           pageOutput="false"
           requestLimit="40"
           mostRecent="true"
           localOnly="false"
           writeToDiagnosticsTrace="true"
           />

    <authentication mode="Forms">
      <forms
        name=".ASPXAUTH"
        loginUrl="Login/Login.aspx"
        defaultUrl="default.aspx"
        protection="All"
        timeout="10"
        path="/"
        requireSSL="false"
        slidingExpiration="true"
        cookieless="UseDeviceProfile"
        domain=""
        enableCrossAppRedirects="false">
        <credentials passwordFormat="SHA1" />
      </forms>
      <passport redirectUrl="internal" />
    </authentication>
  </system.web>

  <system.diagnostics>
    <sources>
      <source name="AppLog"
              switchName="AppLogSwitch"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="FileLogAppender"/>
        </listeners>
      </source>
    </sources>

    <switches>
      <!--
        ログスイッチ: ログレベルの設定
        Off/Critical/Error/Warning/Information/Verbose/ActivityTracing
      -->
      <add name="AppLogSwitch" value="Verbose,ActivityTracing"/>
    </switches>

    <sharedListeners>
      <add name="FileLogAppender"
           type="WebToolboxApp.Modules.FileLogger,WebToolboxApp"
           traceOutputOptions="Timestamp,DateTime,ProcessId,ThreadId"
           initializeData="~/App_Data/Logs/WEB_APP.log"
           />
    </sharedListeners>

    <trace autoflush="true">
      <listeners>
        <add name="WebPageTraceListener"
              type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add name="FileLogAppender"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
