<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET アプリケーションを構成する方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>

  <system.web>
    <!-- コンパイラモード -->
    <compilation debug="true" targetFramework="4.5" />
    
    <!-- XSS対策を自分で行うため -->
    <httpRuntime requestValidationMode="2.0" />
    
    <!-- カスタムエラーページ -->
    <customErrors mode="On" defaultRedirect="err/Default.htm">
      <error statusCode="500" redirect="err/err500.html" />
    </customErrors>

    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="Web.sitemap" />
      </providers>
    </siteMap>
    
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    
    <!-- プログラム中のステータスコード返却によるエラーページ遷移 -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="401" />
      <remove statusCode="404" />
      <error statusCode="401" prefixLanguageFilePath="" path="/err/err401.html" responseMode="ExecuteURL" />
      <error statusCode="404" prefixLanguageFilePath="" path="/err/err404.html" responseMode="ExecuteURL" />
    </httpErrors>

  </system.webServer>

</configuration>