<?xml version="1.0"?>

<!--
  ASP.NET アプリケーションを構成する方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->

<configuration>

  <!-- LogView.aspxは、LOG_VIEW権限が必要 -->
  <location path="LogView.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="LOG_VIEW"/>
      </authorization>
    </system.web>
  </location>

  <!-- Adminフォルダ下はログインユーザであることが必要 -->
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

</configuration>
